.grid {
  display: flex;
  flex-wrap: wrap;
  height: 600px;
  width: 600px;
  background-color: grey;
  justify-content: center;
  border-style: double;

}


.grid div{
  height: 55px;
  width: 55px;
  border: black;
  border-width: 1px;
  border-style: dashed;
  display: flex;
  justify-content: center;

}

div.bomb:hover, div.safe:hover {
  background-color: white;

}

.bombclicked {
  background-color: red;

}

.safeclicked{
  background-color: lightgrey;
}

.bomb{
 background-color: lightsalmon;
}